.loaderContainer{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    .spinner-grow{
        margin: 2px;
    }
    .loader{
        margin: auto;
    }
}